html{
    font-size: 625%;
}
body{
    margin: 0;
}
/*布局头部*/
header{
    position: absolute;
    top:0;
    width: 100%;
    height:8% ;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #29bde0;
    box-sizing: border-box;
}
.header-1{
    height: 4vh;
    width: 5.3vh;
    margin-left: 0.145rem;
    background-image: url(./icon/5.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.header-2{
    padding-top:1vh;
    color: white;
    font-size: 3vh;
    font-weight: lighter;
}
.header-3{
    height: 4vh;
    width: 5.3vh;
    margin-right: 0.145rem;
    background-image: url(./icon/6.png);
    background-position: center right;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
/*布局主体部分*/
main{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
}
.main-1,.main-2,.main-3{
    flex:none;
    box-sizing: border-box;
}
.main-1{
    height: 4.043rem;
    background: #29bde0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
.main-1-1{
    height: 1.325rem;
    width: 2.271rem;
    margin-top: 0.149rem;
    background-image: url(./icon/8.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: flex-start;
}
.main-1-1-1{
    margin-top: 0.169rem;
    height: 0.543rem;
    width: 0.551rem;
    background-image: url(./icon/7.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.main-1-1-2{
    margin-top: 0.205rem;
    height:0.301rem ;
    font-size: 0.301rem;
    line-height: 0.301rem;
    color: white;
    font-weight: bold;
}
.main-1-2{
    margin-top: 0.145rem;
    height: 1.1rem;
    width: 3.161rem;
    font-size: 0.204rem;
    color: #ffc865;
    font-weight: bold;
}
.main-1-3{
    height:1.301rem;
    width: 3.161rem;
    font-size: 0.17rem;
    font-weight: lighter;
    color: white;
}
p{
    margin: 2px 0;
}
.main-2{
    height: 1.087rem;
    width: 100%;
    padding: 0 0.49rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
}
@media (max-width:385px){
    .main-2{
        padding: 0;
    }
}
.main-2-1{
    margin-top: 0.03rem;
    height:0.273rem ;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.main-2-1-1{
    font-size: 0.183rem;
    text-align: left;
}
.main-2-1-2{
    font-size: 0.136rem;
    text-align: right;
    color:#c7c7c7;
}
.main-2-2{
    margin-top: 0.174rem;
    height: auto;
    font-size: 0.165rem;
    color: #a6a6a6;
}
.main-3{
    height: 0.836rem;
    background: white;
}
/*布局底部部分*/
footer{
    position: absolute;
    bottom: 0;
    height: 0.836rem;
    width: 100%;
    background: rgba(41,189,224,0.48);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-1,.footer-2{
    width: 1.753rem;
    height: 0.557rem;
    border-radius: 5px;
    margin:0 0.158rem;
    color: white;
    font-size: 0.262rem;
    text-align: center;
    line-height: 0.557rem;
}
.footer-1{
    background: #f66f6f;
}
.footer-2{
    background: #fbb435;
}